$size-1: 0.25rem;
$size-2: 2 * $size-1;
$size-3: 3 * $size-1;
$size-4: 4 * $size-1;
$size-5: 5 * $size-1;
$size-6: 6 * $size-1;
$size-7: 7 * $size-1;
$size-8: 8 * $size-1;
$size-9: 9 * $size-1;
$size-10: 10 * $size-1;
$size-11: 11 * $size-1;
$size-12: 12 * $size-1;

//Recommended analogic colors
$primary-color: #79BE60;
$secondary-color: #6079BE;

$black: #292929;
$white: #F1F1F1;

